<div class="nav">	
	<div class="icons left">
		<a class="menu" href="#/admin"><i ng-click="addMenuView()" class="fa fa-bars"></i>
	</div>

	<div class="icons right">
		<a class="menu" href="#/admin"><i ng-click="addProfileView()" class="fa fa-cog"></i></a>
	</div>
</div> <!-- End of 'nav' -->

<!-- Create a new modal that displays each project -->

<div class="projects-container">	
	<div class="manage-container" ng-repeat="project in Projects" project="project">
		<i ng-click="removeProject(project)" class="edit-icon fa fa-times"></i>
		<h4 ng-click="addProjectView(); setProject(project)" class="title">{{ project.title }}</h4>

		<div class="current-projects-container">
			<div class="current-projects">
				<div class="project-details">
				</div> <!-- End of 'project-details' -->
				<div class="task-container" ng-repeat="task in project.tasks">
					<p class="task-text">{{ task }}</p>
				</div>
				<h5>Due: {{ project.dueDate | date: "fullDate" }}</h5>
			</div> <!-- End of 'current-projects' -->
		</div> <!-- End of 'current-projects-container' -->
	</div> <!-- End of 'manage-container' -->
</div> <!-- End of 'projects-container' -->

<!-- Darkens the background when the modal pops up -->
<div class="backdrop" ng-show="backdropVisible">
</div>

<!-- This section triggers the visibilty of the modals -->

<!-- project-modal is was displays when user clicks on a project from admin.html -->
<projects-modal
	ng-show="addProjectVisible"
	add-project-visible="addProjectVisible"
	add-project-view="addProjectView()"
	update-project="updateProject(project, currentProject)"
	toggle-project-panel="toggleProjectPanel()"
	new-project="newProject"
	current-project="currentProject"
	project="project">
</projects-modal>

<!-- options-modal is the dropdown menu the user sees when 'more options' button is clicked -->
<options-modal
	ng-show="menuVisible"
	backdrop-visible="backdropVisible"
	create-project-panel-visible="createProjectPanelVisible"
	show-menu="showMenu"
	toggle-project-panel="toggleProjectPanel()"
	add-menu-view="addMenuView()"
	add-profile-view="addProfileView()">
</options-modal>

<!-- When this button is clicked it opens a modal for creating a new project -->
<create-project-panel 
	ng-show="createProjectPanelVisible" 
	create-project-panel-visible="createProjectPanelVisible"
	toggle-project-panel="toggleProjectPanel()"
	backdrop-visible="backdropVisible"
	new-project="newProject" 
	new-task="newTask"
	tasks-arr="tasksArr"
	task="task"
	add-project="addProject(newProject, tasksArr)" 
	add-task="addTask(newTask)">
</create-project-panel>



<!-- 	ng-show="menuVisible" 
	show-menu="showMenu" 
	create-user-visible="createUserVisible" 
	create-team-visible="createTeamVisible" 
	add-menu-view="addMenuView()"  
	click-create="clickCreate()" 
	add-project="addProject(newProject, tasksArr)" 
	add-task="addTask()"
	add-user="addUser()"
	get-users="getUsers($viewValue)"
	remove-user="removeUser(member)"
	create-new-user="createNewUser()" 
	new-project="newProject" 
	new-task="newTask"
	tasks-arr="tasksArr"
	task="task"
	new-user="newUser"  
	team-members="teamMembers"
	member="member"> -->














