<div class="nav">	
	<div class="icons left">
		<i ng-click="addMenuView()" class="fa fa-bars"></i>
	</div>

	<div class="icons right">
		<a class="menu-right" href="#/admin"><i ng-click="addTaskView()" class="fa fa-cog"></i></a>
	</div>
</div> <!-- End of 'nav' -->

<!-- Create a new modal that displays each project -->

<div class="manage-container" ng-repeat="project in Projects">
	<i ng-click="addProjectView()" class="edit-icon fa fa-pencil"></i>
	<h4 class="title">{{ project.title }}</h4>

	<div class="current-projects-container">
		<div class="current-projects">
			<div class="project-details">
				<h5>{{ task }}</h5>
			</div> <!-- End of 'project-details' -->
			<h5>Due: {{ project.dueDate | amCalendar }}</h5>
		</div> <!-- End of 'current-projects' -->
	</div> <!-- End of 'current-projects-container' -->

</div> <!-- End of 'manage-container' -->

<!-- Darkens the background when the modal pops up -->
<div class="backdrop" ng-show="backdropVisible">
</div>

<options-modal 
	ng-show="menuVisible" 
	create-project-visible="createProjectVisible" 
	create-user-visible="createUserVisible" 
	create-team-visible="createTeamVisible" 
	add-menu-view="addMenuView()" 
	create-project-view="createProjectView()" 
	create-user-view="createUserView()" 
	create-team-view="createTeamView()" 
	click-create="clickCreate()" 
	add-project="addProject(newProject)" 
	add-task="addTask()" 
	create-new-user="createNewUser()" 
	new-project="newProject" 
	new-task="newTask"
	new-user="newUser"  
	team-members="teamMembers">
</options-modal>


















