<div class="container">
	<div class="login-box" ng-show="loginVisible">
		<h4 class="title">Login</h4>
		<form>
			<input class="modal-input" type="email" placeholder="Email ..." />
			<br />
			<input class="modal-input" type="password" placeholder="Password ..." />
			<br />
			<button class="login-btn" type="submit">Login</button>
		</form>
	</div>

	<div class="login-box" ng-hide="loginVisible">
		<h4 class="title">Register</h4>
		<form>
			<input class="modal-input" type="text" placeholder="Fullname ..." />
			<br />
			<input class="modal-input" type="email" placeholder="Email ..." />
			<br />
			<input class="modal-input" type="password" placeholder="Password ..." />
			<br />
			<button class="login-btn" type="submit">Register</button>
		</form>
	</div>
</div><!-- End of 'container' -->