<div class="container">
	<div class="login-box">
		<p>Login</p>
		<form>
			<input type="email" placeholder="Email ..." />
			<br />
			<input type="password" placeholder="Password ..." />
			<br />
			<button type="submit">Login</button>
		</form>
	</div>

	<hr />

	<div class="register-box">
		<p>Register</p>
		<form>
			<input type="text" placeholder="Fullname ..." />
			<br />
			<input type="email" placeholder="Email ..." />
			<br />
			<input type="password" placeholder="Password ..." />
			<br />
			<button type="submit">Register</button>
		</form>
	</div>
</div><!-- End of 'container' -->