<h1 class="welcome">Welcome to JadeSphere</h1>
<div class="container">
	<div class="login-box" ng-hide="loginVisible">
		<h4 class="title">Login</h4>
		<form>
			<input ng-model="email" class="modal-input login-input" type="email" placeholder="Email ..." />
			<br />
			<input ng-model="password" class="modal-input login-input" type="password" placeholder="Password ..." />
			<br />
			<button ng-click="login(email, password)" class="login-btn" type="submit">Login</button>
		</form>
	</div>
	<p>For demo purposes please use:</p>
	<p>username: j@j.com</p>
	<p>password: abc</p>

	<div class="login-box" ng-show="loginVisible">
		<h4 class="title">Register</h4>
		<form>
			<input ng-model="newUser.name" class="modal-input" type="text" placeholder="Fullname ..." />
			<br />
			<input ng-model="newUser.email" class="modal-input" type="email" placeholder="Email ..." />
			<br />
			<input ng-model="newUser.password" class="modal-input" type="password" placeholder="Password ..." />
			<br />
			<button ng-click="register(newUser)" class="login-btn" type="submit">Register</button>
		</form>
	</div>
</div><!-- End of 'container' -->