<!-- EDIT PROJECT MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="modal" ng-show="addProjectVisible">
	<h4 class="title">Project Title</h4>

	<!-- Modal with input fields for adding a project -->
	<div class="close">
		<a href="#admin"><i ng-click="addProjectView(); clearText()" class="fa fa-times"></i></a>
	</div>

	<!-- Form for adding project -->
	<form>
		<input type="text" placeholder="Add a new task..." />
		<button class="modal-btn" ng-click="addProjectView(); clearText()" type="submit">Cancel</button>
		<button class="modal-btn" ng-click="addTask(); getTasks(); clearText()" type="submit">Add Task</button>
	</form>
</div>
<!-- End of EDIT PROJECT MODAL -->