<div class="nav">	
	<div class="icons left">
		<a class="menu" href="#/member"><i ng-click="addMenuView()" class="fa fa-bars"></i></a>
	</div>

	<div class="icons right">
		<a class="menu" href="#/member"><i ng-click="viewProfileModal()" class="fa fa-cog"></i></a>
	</div>
</div> <!-- End of 'nav' -->

<div class="lead-associated-projects-container">

	<!-- Create a new modal that displays each project -->
	<div class="team-lead-container" ng-show="teamLeadBox">
	<h4 class="member-project-message">{{ leadProjectMessage }}</h4>
		<div class="projects-container">	
			<div class="manage-container" ng-repeat="project in leadProjects" project="project">
				<i class="edit-icon fa fa-times"></i>
				<h4 ng-click="viewProjectModal(); setProject(project)" class="title">{{ project.title }}</h4>

				<div class="current-projects-container">
					<div class="current-projects">
						<div class="project-details">
						</div> <!-- End of 'project-details' -->
						<div class="member-task-container task-container" ng-repeat="task in project.tasks">
							{{ task }}
						</div>
						<h5>Due: {{ project.dueDate | date: "fullDate" }}</h5>
					</div> <!-- End of 'current-projects' -->
				</div> <!-- End of 'current-projects-container' -->

			</div> <!-- End of 'manage-container' -->
		</div> <!-- End of 'projects-container' -->
	</div> <!-- End of 'team-lead-container' -->


	<div class="associated-projects-container" ng-show="associatedBox">
		<h4 class='member-project-message'>{{ associatedProjectMessage }}</h4>
		<div class="projects-container">	
			<div class="manage-container" ng-repeat="project in associatedProjects">
				<i class="edit-icon fa fa-times"></i>
				<h4 ng-click="viewProjectModal(); setProject(project)" class="title">{{ project.title }}</h4>

				<div class="current-projects-container">
					<div class="current-projects">
						<div class="project-details">
						</div> <!-- End of 'project-details' -->
						<div class="member-task-container task-container" ng-repeat="task in project.tasks">
							{{ task }}
						</div>
						<h5 ng-style="past-due">Due: {{ project.dueDate | date: "fullDate" }}</h5>
					</div> <!-- End of 'current-projects' -->
				</div> <!-- End of 'current-projects-container' -->
			</div> <!-- End of 'manage-container' -->
		</div> <!-- End of 'projects-container' -->
	</div> <!-- End of 'associated-projects-container' -->

</div> <!-- End of 'lead-associated-projects-container' -->


<!-- Darkens the background when the modal pops up -->
<div class="backdrop" ng-show="backdropVisible">
</div>

<user-project-modal
	ng-show="memberProjectVisible"
	member-project-visible="memberProjectVisible"
	current-project="currentProject"
	current-user="currentUser"
	project="project"
	set-project="setProject(project)"
	view-project-modal="viewProjectModal()">
</user-project-modal>

<member-profile
	ng-show="memberProfileVisible"
	member-profile-visible="memberProfileVisible"
	user-object="userObject"
	view-profile-modal="viewMemberProfileModal()">
</member-profile>













