<div class="container">
	<div class="nav-bar">
		<ul class="left-bar-navigation">
			<li>Projects</li>
			<li>Users</li>
			<li>Team Leads</li>
		</ul><!-- End of 'left-bar-navigation' -->

		<ul class="right-bar-navigation">
			<li>Settings</li>
			<li>Sign Out</li>
		</ul><!-- End of 'right-bar-navigation' -->
	</div> <!-- End of 'nav-bar' -->

	<div class="project-list">
		<h2>Project Lists</h2>
		<p>Draw out personal project</p>
		<p>Make wireframe for personal project</p>
		<p>Add front-end functionality</p>
		<p>Add back-end functionality</p>
	</div> <!-- End of 'project-list' -->

	<div class="leads-list">
		<h2>Team Leads</h2>
		<p>Brock Neilson</p>
		<p>Jason Turner</p>
		<p>Dallin Crane</p>
		<p>Dan Kessler</p>
		<p>Jacon Turner</p>
	</div> <!-- End of 'project-list' -->
</div> <!-- End of 'container' -->

<div class="spacer">
</div>

<div class="footer">
		<div class="notification-bar">
			<span class="notification">A new project has been added to the list.</span>
		</div>
	</div> <!-- End of 'footer' -->