<!-- ADMIN MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="modal" ng-show="addProjectVisible">
	<h4 class="title">Add New Project</h4>

	<!-- Modal with input fields for adding a project -->
	<div class="close">
		<a href="#admin"><i ng-click="addProjectView(); clearText()" class="fa fa-times"></i>
	</div>

	<!-- Form for adding project -->
	<form>
		<input class="modal-input" type="text" ng-model="newProject.title" placeholder="Project Title" />
		<input class="modal-input" type="text" ng-model="newProject.description" placeholder="Description" />
		<input class="modal-input" type="text" ng-model="newProject.teamLead" placeholder="Team Lead" />
		<input class="modal-input" type="text" ng-model="newProject.teamMembers" placeholder="Team Members" />
		<input class="modal-input" type="text" ng-model="newProject.startDate" placeholder="Start Date" />
		<input class="modal-input" type="text" ng-model="newProject.dueDate" placeholder="Due Date" />
		<button class="modal-btn" ng-click="addProjectView(); clearText()" type="submit">Cancel</button>
		<button class="modal-btn" ng-click="theClick(); getProjects()" type="submit">Save</button>
	</form>
</div>
<!-- End of ADMIN MODAL -->