<div class="mini-modal attachment-modal" ng-show="attachmentPickerModalVisible">

	<h3 class="panel-headline">Select Attachments</h3>
	<div class="close">
		<a href="#admin"><i ng-click="toggleAttachmentPicker()" class="close-modal-btn fa fa-times"></i></a>
	</div>

 	<div class="form">

	 	<div>
			<form class="upload-form">
		    <input type="file" fileread="uploadme" set-attachments="setAttachments(attachmentsArr)" attachment-location="attachmentLocation" attachments-arr="attachmentsArr" />
		    <button class="upload-btn" type="submit" ng-click="setAttachments(); toggleAttachmentPicker()">Done</button>
		  </form>
		</div>

	</div>

</div>