<!-- PROFILE MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="options-menu-container">
	<div class="profile-popout">
		<div class="header">
			<h4 class="title options-title">Profile Options</h4>

			<!-- Closes the options modal -->
			<div class="close">
				<i ng-click="viewProfileModal()" class="fa fa-times"></i>
			</div>
		</div><!-- End of 'header' -->

		<div class="nav-bar-btn">
			<ul class="nav-icons">
				
				<div class="false-btn" ng-if="userObject.admin">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-rebel"></i> Admin Page</li></a>
				</div>

				<div class="false-btn" ng-click="toggleNewUserPanel(); addMenuView(); logout()">
					<a href="#auth"><li class="nav-btn"><i ng-click="logout()" class="fa fa-user-plus"></i> Logout</li></a>
				</div>
			</ul>
		</div> <!-- End of 'nav-bar-btn' -->
	</div> <!-- End of 'menu-popout' -->