<!-- OPTIONS MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="options-menu-container">

	<div class="menu-popout">
		<div class="header">
			<h4 class="title options-title">Admin Options</h4>

			<!-- Closes the options modal -->
			<div class="close">
				<a href="#admin"><i ng-click="addMenuView()" class="fa fa-times"></i></a>
			</div>
		</div><!-- End of 'header' -->

		<div class="nav-bar-btn">
			<ul class="nav-icons">
				<div class="false-btn" ng-click="toggleProjectPanel(); addMenuView()">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-plus-circle"></i> Create Project</li></a>
				</div>

				<div class="false-btn" ng-click="toggleNewUserPanel(); addMenuView()">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-user-plus"></i> Add Member</li></a>
				</div>

				<!-- DEPRECATED - Teams are created when a project is created, this no longer needed -->
				<!-- <div class="false-btn" ng-click="toggleNewTeamPanel(); addMenuView()">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-users"></i> Create Team</li></a>
				</div> -->

				<div class="false-btn" ng-click="toggleCalendarPanel(); getEvents(); addMenuView()">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-calendar"></i> Calendar</li></a>
				</div>

				<!-- DEPRECATED - Email is sent out once a person is assigned to a project. -->
				<!-- <div class="false-btn">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-bell-o"></i> Notifications</li></a>
				</div> -->
			</ul>
		</div> <!-- End of 'nav-bar-btn' -->
	</div> <!-- End of 'menu-popout' -->

</div> <!-- End of 'options-menu-container' -->


<!-- DEPRECATED - keeping for reference -->
<!-- 	<create-project-panel 
		ng-show="showMenu" 
		show-menu="showMenu"
		new-project="newProject" 
		new-task="newTask"
		tasks-arr="tasksArr"
		task="task"
		add-project="addProject(newProject, tasksArr)" 
		add-task="addTask(newTask)">
	</create-project-panel>

	<create-team-panel 
		ng-show="createTeamVisible" 
		create-team-visible="createTeamVisible" 
		new-team="newTeam" 
		team-members="teamMembers"
		add-team="addTeam(newTeam)"
		remove-user="removeUser(member)"
		get-users="getUsers($viewValue)"
		member="member">
	</create-team-panel>

	<create-member-panel
		ng-show="createUserVisible" 
		create-user-visible="createUserVisible"
		team-members="teamMembers"
		member="member"
		new-user="newUser"
		add-user="addUser()"
		remove-user="removeUser(member)">
	</create-member-panel> -->

	<!-- <create-calendar-panel
		ng-show="createCalendarVisible">
	</create-calendar-panel> -->