<!-- OPTIONS MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="options-menu-container">
	<div class="menu-popout">
		<div class="header">
			<h4 class="title options-title">Admin Options</h4>

			<!-- Closes the options modal -->
			<div class="close">
				<a href="#admin"><i ng-click="addMenuView()" class="fa fa-times"></i></a>
			</div>
		</div><!-- End of 'header' -->

		<div class="nav-bar-btn">
			<ul class="nav-icons">
				<li class="nav-btn"><i ng-click="createProjectView()" class="fa fa-plus-circle"></i> Create Project</li>
				<li class="nav-btn"><i class="fa fa-user-plus"></i> Add Member</li>
				<li class="nav-btn"><i class="fa fa-users" ng-click="createTeamView()"></i> Create Team</li>
				<li class="nav-btn"><i class="fa fa-calendar"></i> Calendar</li>
				<li class="nav-btn"><i class="fa fa-bell-o"></i> Notifications</li>
			</ul>
		</div> <!-- End of 'nav-bar-btn' -->
	</div> <!-- End of 'menu-popout' -->

	<create-project-panel ng-show="createProjectVisible" create-project-visible="createProjectVisible" new-project="newProject" new-task="newTask" create-project-view="createProjectView()" add-project="addProject(newProject)" add-task="addTask(newTask)" ng-model="ngModel"></create-project-panel>

	<!-- CREATE TEAM PANEL -->
	<div class="create-project-container" ng-show="createTeamVisible">
		<div class="btn-container">
			<button class="options-btn" type="submit">Team Lead</button>
			<button class="options-btn" type="submit">Projects</button>
			<button class="options-btn" type="submit">Members</button>
			<button class="options-btn" type="submit">Attachments</button>
		</div>

		<div class="create-project">
			<input class="modal-input" type="text" ng-model="newTeam.teamname" placeholder="Team name" />
			<input class="modal-input" type="text" ng-model="newTeam.teamlead" placeholder="Team lead" />
			<input class="modal-input" type="text" ng-model="newTeam.teamleadEmail" placeholder="Team lead email" />
			<div class="btns">
				<button class="save modal-options-btn">Save</button>
				<!-- <button class="modal-options-btn">Cancel</button> -->
			</div>
		</div> <!-- End of 'create-project' -->

		<div class="chat-container">
			<div class="chat-box">
				Comments go here
			</div>
		</div> <!-- End of 'chat-container' -->
	</div> <!-- End of 'create-project-container' -->
	<!-- END OF CREATE TASK PANEL -->

</div> <!-- End of 'options-menu-container' -->