<!-- PROFILE MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="options-menu-container">
	<div class="profile-popout">
		<div class="header">
			<h4 class="title options-title">Profile Options</h4>

			<!-- Closes the options modal -->
			<div class="close">
				<a href="#admin"><i ng-click="addProfileView()" class="fa fa-times"></i></a>
			</div>
		</div><!-- End of 'header' -->

		<div class="nav-bar-btn">
			<ul class="nav-icons">
				<div class="false-btn">
					<a href="#member"><li class="nav-btn"><i ng-click="allowPassage()" class="fa fa-plus-circle"></i> Member Page</li></a>
				</div>

				<div class="false-btn" ng-click="toggleNewUserPanel(); addMenuView(); logout()">
					<a href="#admin"><li class="nav-btn"><i ng-click="logout()" class="fa fa-user-plus"></i> Logout</li></a>
				</div>

<!-- 				<div class="false-btn" ng-click="toggleNewTeamPanel(); addMenuView()">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-users"></i> Create Team</li></a>
				</div>

				<div class="false-btn" ng-click="toggleCalendarPanel(); getEvents(); addMenuView()">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-calendar"></i> Calendar</li></a>
				</div>

				<div class="false-btn">
					<a href="#admin"><li class="nav-btn"><i class="fa fa-bell-o"></i> Notifications</li></a>
				</div> -->
			</ul>
		</div> <!-- End of 'nav-bar-btn' -->
	</div> <!-- End of 'menu-popout' -->