<!-- TASK MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="modal" ng-show="addTaskVisible">
	<h4 class="title">Add New Task</h4>

	<!-- Modal with input fields for adding a project -->
	<div class="close">
		<a href="#admin"><i ng-click="addTaskView(); clearText()" class="fa fa-times"></i>
	</div>

	<!-- Form for adding task -->
	<form>
		<input class="modal-input" type="text" ng-model="newTask.name" placeholder="Enter task" />
		<button class="modal-btn" ng-click="addTaskView(); clearText()" type="submit">Cancel</button>
		<button class="modal-btn" ng-click="theClick(); getTasks()" type="submit">Save</button>
	</form>
</div>
<!-- End of TASK MODAL -->