<div class="mini-modal team-lead-modal" ng-show="teamLeadPickerModalVisible">

	<h3 class="panel-headline">Select Team Lead</h3>
	<div class="close">
		<a href="#admin"><i ng-click="toggleTeamLeadPicker()" class="close-modal-btn fa fa-times"></i></a>
	</div>

	<!-- <div class="lead-selector"> -->
    <!-- <span class="selected-text">You have selected: {{ selectedMember.text }}</span>
    <a href=''><i ng-click="setTeamLead(selectedMember); toggleTeamLeadPicker()" class="team-lead-confirmation-btn fa fa-check"></i></a>
    <a href=''
        dropdown-menu="memberSelection"
        dropdown-model="selectedMember"
        dropdown-item-label="text">
        <span class="selector-text">Select Lead</span>
        <i class="dropdown-arrow fa fa-chevron-down"></i>
    </a> -->

    <div class="lead-selector">
        <button class="selected-text" ng-click="setTeamLead(selectedMember); toggleTeamLeadPicker()">Select Team Lead</button>
           <isteven-multi-select    
            input-model="memberSelection"    
            output-model="selectedMember"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            selection-mode="single">
        </isteven-multi-select>
    </div>
	<!-- </div> -->
</div>