<div class="create-project-container modal" ng-show="createCalendarPanelVisible">
 
  <!-- Closes the options modal -->
  <button class="panel-headline" ng-click="getEvents()">Load Events</button>
  <div class="close">
    <a href="#admin"><i ng-click="toggleCalendarPanel()" class="close-calendar-modal fa fa-times"></i></a>
  </div>

  <div id="calendar">
  </div>

 <!--  <pre id="output"></pre> -->
</div> <!-- End of 'create-project' -->

<!-- <div id="authorize-div" style="display: none">
    <span>Authorize access to Google Calendar API</span> -->
    <!--Button for the user to click to initiate auth sequence -->
   <!--  <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div> -->