<!-- ADD MEMBER PANEL -->
<div class="create-project-container modal" ng-show="createUserPanelVisible">

	<h3 class="panel-headline">Add a new team member</h3>
	<div class="close">
		<a href="#admin"><i ng-click="toggleNewUserPanel()" class="close-modal-btn fa fa-times"></i></a>
	</div>

	<div class="btn-container project-btns">
		<i class="fa fa-empire"> Make Lead</i>
		<i class="fa fa-briefcase"> Projects</i>
		<i class="fa fa-sitemap"> Department</i>
		<i class="fa fa-bell-o"> Notifications</i>
	</div>

	<div class="show-input-panel">
		<h4 class="mini-panel-headline">Team Members</h4>
		<div class="repeat-container" ng-repeat="member in teamMembers">
			<span class="mini-panel-repeat">{{ member.name }}</span>
			<i class="remove-item fa fa-times" member="member" ng-click="runRemove(member)"></i>
		</div>
	</div>

	<div class="create-project project-panel">
		<input class="modal-input" type="text" ng-model="newUser.name" placeholder="Full name" />
		<input class="modal-input" type="text" ng-model="newUser.email" placeholder="Email" />
		<input class="modal-input" type="text" ng-model="newUser.phone" placeholder="Phone (optional)" />
		<div class="btns">
			<button class="create modal-options-btn" ng-click="addUser()">Add Member</button>
		</div>
	</div> <!-- End of 'create-project' -->

	<!--- This should be it's own directive for chat function -->
	<div class="chat-container">
		<div class="chat-box">
			<textarea class="notes-box" ng-model="newUser.notes" placeholder="Notes (Optional)"></textarea>
		</div>
	</div> <!-- End of 'chat-container' -->

</div> <!-- End of 'create-project-container' -->
<!-- End of ADD MEMBER PANEL -->