<!-- MEMBER PROJECT MODAL -->
<!-- Toggles the ng-show of the modal -->
<div class="modal create-project-container" ng-show="memberProjectVisible" current-project="currentProject">
	<h4 class="title">{{ currentProject.title }}</h4>

	<!-- Modal with input fields for adding a project -->
	<div class="close">
		<i ng-click="viewProjectModal()" class="fa fa-times"></i>
	</div>

	<!-- Form for adding project -->
	<div class="form-container">
		<form class="update-project-form">
			<span class="label bold">Title</span>
			<span class="popup-modal-inputs modal-input" type="text" ng-model="project.title">{{ currentProject.title }}</span>

			<span class="label bold">Description</span>
			<span class="popup-modal-inputs modal-input" type="text" ng-model="project.description">{{ currentProject.description }}</span>

			<span class="label bold">Team Lead</span>
			<span class="popup-modal-inputs modal-input" type="text" ng-model="project.teamLead" ng-repeat="lead in currentProject.teamLead">{{ lead.name }}</span>

			<span class="label bold">Team Members</span>
			<span class="popup-modal-inputs modal-input" type="text" ng-model="project.teamMembers" ng-repeat="members in currentProject.teamMembers">{{ members.name }}</span>

			<span class="label bold">Start Date</span>
			<span class="popup-modal-inputs modal-input" type="text" ng-model="project.startDate">{{ currentProject.startDate | amCalendar }}</span>

			<span class="label bold">Due Date</span>
			<span class="popup-modal-inputs modal-input" type="text" ng-model="project.dueDate">{{ currentProject.dueDate | amCalendar }}</span>
		</form>

		<div class="attachments" ng-repeat="attachment in currentProject.attachments">
			<i class="fa fa-paperclip"></i>
			<a href="{{ attachment.location }}"><span class="text">{{ attachment.name }}</span></a>
		</div>

	</div> <!-- End of 'form-container' -->

	<div class="show-input-panel show-tasks-edit-panel">
		<span class="headline">Tasks Added</span>
		<div class="tasks-panel" current-project="currentProject" ng-repeat="task in currentProject.tasks">
			<input class="checkbox-tasks" type="checkbox" ng-click="saveTask(task, completed)" ng-model="completed" /><span class="task-text" ng-class="{'completed-task': completed}">{{ task }}</span>
			<!-- <i ng-click="removeTask(newTasks.name)" class="remove-item fa fa-times"></i> -->
		</div>
	</div> <!-- End of 'show-input-panel' -->

	<div class="comments-container">
		<div class="comments-display">
			<p class="comment-text" current-user="currentUser" ng-repeat="comment in currentProject.comments">{{ comment.userlabel }} - {{ comment.message }}</p>
		</div>
		<div class="comment">
			<input class="comments-field" type="text" ng-model="comment" placeholder="Enter comments" />
			<div class="comments-btn">
				<i ng-click="sendComment(comment, currentUser, currentProject)" class="send-comment fa fa-share-square-o"></i>
			</div>
		</div>
	</div>

	<!--- This should be it's own directive for chat function -->
	<!-- <div class="chat-container edit-project-chat-container" label="Discussion">
		<div class="chat-box">
			Project discussion
		</div>
	</div> --> <!-- End of 'chat-container' -->

	<div class="btn-container modal-btn-container">
		<button class="modal-btn" ng-click="viewProjectModal()" type="submit">Cancel</button>
		<button class="modal-btn" ng-click="updateProject(project, currentProject); getProjects(); clearText()" type="submit">Update</button>
	</div>

</div> <!-- End of MEMBER PROJECT MODAL -->